body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #007bff;
    color: white;
}

#quiz {
    background-color: #f9f9f9;
}

#collage .card-img-top {
    object-fit: cover;
    height: 200px;
    aspect-ratio: 1.8;
}

/* #popular-houseplants {
    height: 240px;
} */

#popular-houseplants .card-img-top, #curated-collections .card-img-top {
    object-fit: cover;
    /* height: 200px; */
    aspect-ratio: 1.8;
}

footer {
    background-color: #343a40;
}

#popular-houseplants .card-title, #curated-collections .card-title {
    text-align: center;
}

#care-guides h4 {
    text-align: center;
}

#about {
    background-color: #007bff;
}

footer p {
    margin: 0;
}
